<div [ngSwitch]="state">
        <div *ngSwitchCase="'Initial'">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                长兴医保 门诊退费
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        <span>个人信息</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="row">
                                <div class="col-md-4">
                                    <span>姓名: {{patient?.p11}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>性别: {{config.xb[patient?.p12]}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>出生日期: {{patient?.p14}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span>身份证号码: {{patient?.p15}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>卡号: {{patient?.p9}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>个人编号: {{patient?.p10}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span>参保地: {{patient?.p17}} {{patient?.p16}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>参保地单位: {{patient?.p19}} {{patient?.p18}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>参保险种: {{config.cbxz[patient?.p20]}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span>人员类别: {{config.rylb[patient?.p21]}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>当年账户余额: {{patient?.p23}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>历年账户余额: {{patient?.p24}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        <span>费用明细</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <table class="table table-hover" *ngFor="let form of hisData.chargeItemForms">
                                <thead>
                                    <tr>
                                        <th>项目编号</th>
                                        <th>项目名称</th>
                                        <th>单位</th>
                                        <th>单价</th>
                                        <th>数量</th>
                                        <th>金额</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of form.chargeItems">
                                        <td>{{item.insurance?item.chargeItem.channelData.id:'[无医保对应项，不参与医保结算]'}}</td>
                                        <td>{{item.chargeItem.name}}</td>
                                        <td>{{item.chargeItem.unit}}</td>
                                        <td>{{item.chargeItem.price}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.total}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    <span>总费用： {{hisData.total}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        <span>结算信息</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="row">
                                <div class="col-md-4">
                                    <span>费用总额: {{settleResult?.p11?.p1}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>自费总额: {{settleResult?.p11?.p2}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>自理总额: {{settleResult?.p11?.p3}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span>合计报销金额: {{settleResult?.p11?.p6}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>个人现金支付: {{settleResult?.p11?.p7}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>统筹基金支付: {{settleResult?.p11?.p8}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span>历年帐户支付: {{settleResult?.p11?.p9}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>当年帐户支付: {{settleResult?.p11?.p10}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>结算流水号: {{settleResult?.p6}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <button type="submit" class="btn btn-primary blue" *ngIf="state == 'Initial'" (click)="refund()">退费</button>
    
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Settled'">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                长兴医保 退费完成
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    退费操作成功
                </div>
            </div>
        </div>
    
        <div *ngSwitchCase="'SettleFailed'">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                长兴医保 退费失败
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    {{failedMessage}}
                </div>
            </div>
        </div>
    </div>