<div bsModal #medicineModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #itemCreateForm="ngForm" role="form" novalidate class="form-validation">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>药品：{{medical_name}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" attr.aria-label="关闭">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="mer_name" class="control-label">商品名</label>
                                <input name="mer_name" class="form-control" [(ngModel)]="mer_name" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="comm_name" class="control-label">通用名</label>
                                <input name="comm_name" class="form-control" [(ngModel)]="comm_name" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="mer_name_short" class="control-label">商品简称</label>
                                <input name="mer_name_short" class="form-control" [(ngModel)]="mer_name_short" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="std_doc_id" class="control-label">批准文号</label>
                                    <input name="std_doc_id" class="form-control" [(ngModel)]="std_doc_id" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="pro_batch_id" class="control-label">生产批次号</label>
                                    <input name="pro_batch_id" class="form-control" [(ngModel)]="pro_batch_id" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="batch" class="control-label">批次</label>
                                    <input name="batch" class="form-control" [(ngModel)]="batch" />
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="pro_enterprise" class="control-label">生产企业</label>
                                    <input name="pro_enterprise" class="form-control" [(ngModel)]="pro_enterprise" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gmp_cert_id" class="control-label">Gmp证书号</label>
                                    <input name="gmp_cert_id" class="form-control" [(ngModel)]="gmp_cert_id" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="mer_specification" class="control-label">商品规格</label>
                                    <input name="mer_specification" class="form-control" [(ngModel)]="mer_specification" />
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="che_name" class="control-label">化学名称</label>
                                    <input name="che_name" class="form-control" [(ngModel)]="che_name" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="mer_biz_code" class="control-label">条形码</label>
                                    <input name="mer_biz_code" class="form-control" [(ngModel)]="mer_biz_code" />
                                </div>
                            </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!itemCreateForm.form.valid">保存</button>
                    <button type="button" class="btn btn-primary" (click)="close()">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>