<div [@routerTransition]>
  <div class="m-subheader">
      <div class="d-flex align-items-center">
          <div class="mr-auto">
              <h3 class="m-subheader__title m-subheader__title--separator">
                  <span>医保</span>
              </h3>
              <span class="m-section__sub">
                  青岛医保配置
              </span>
          </div>
      </div>
  </div>
  <div class="m-content">
      <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__body">
              <form #settingForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                  <div class="form-group">
                      <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                          <label for="category">商户类型</label>
                          <select id="category" name="category" class="form-control" required [(ngModel)]="merchant.category">
                              <option value="01">连锁药店</option>
                              <option value="02">单体药店</option>
                              <option value="03">门诊</option>
                              <option value="04">社区</option>
                              <option value="05">医院</option>
                              <option value="06">其他</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <label for="name">商户名称</label>
                          <input id="name" name="name" class="form-control" type="text" required [(ngModel)]="merchant.name">
                        </div>
                        <div class="col-md-4">
                          <label for="subname">商户门店地址</label>
                          <input id="subname" name="subname" class="form-control" type="text" required [(ngModel)]="merchant.subname">
                        </div>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                          <label for="uscc">统一社会信用代码</label>
                          <input id="uscc" name="uscc" class="form-control" type="text" required [(ngModel)]="merchant.uscc">
                        </div>
                        <div class="col-md-4">
                          <label for="sinid">社保商户号</label>
                          <input id="sinid" name="sinid" class="form-control" type="text" required [(ngModel)]="merchant.sinid">
                        </div>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="!settingForm.form.valid" [buttonBusy]="saving" [busyText]="savingtext"><i class="fa fa-save"></i> <span>保存</span></button>
              </form>
          </div>
      </div>
  </div>
</div>