<div [ngSwitch]="state">
    <div *ngSwitchCase="'Initial'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            黑龙江医保 门诊退费
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <button type="button" class="btn m-btn--pill" (click)="goSetting()" [ngClass]="{'btn-danger': isWarning}">
                        <i class="flaticon-settings-1"></i>配置
                        <label *ngIf="isWarning">申报窗口</label>
                    </button>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input auto-focus class="form-control input-ltr" type="password" [(ngModel)]="password" placeholder="请输入IC卡密码" required maxlength="40">
                        </div>
                        <button type="submit" class="btn btn-primary blue" (click)="readcard()">读卡</button>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>个人编号: {{patient?.p1}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>公民身份号码: {{patient?.p2}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>姓名: {{patient?.p3}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>性别: {{patient?.p4 ? (patient?.p4=='1'?'男':'女'):''}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>人员待遇类别名称: {{patient?.p6}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>IC卡卡号: {{patient?.p7}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>个人帐户余额: {{patient?.p9}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>本年普通门诊医保内费用累计: {{patient?.p10}}</span>
                            </div>
                            <div class="col-md-12" *ngIf="!patient?.allow">
                                <span>门诊提示: {{patient?.p11}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" *ngFor="let receipt of receipts">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>原收费收据</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <p>收据号：{{receipt.page1[0].p13}}</p>
                        <p>就诊日期：{{receipt.page1[0].p12}}</p>
                        <p>医疗类别：{{receipt.page1[0].p1=='11'?'普通门诊':receipt.page1[0].p1}}</p>
                        <p>就诊科室：{{receipt.page1[0].p2}}</p>
                        <p>姓名：{{receipt.page1[0].p5}}</p>
                        <p>个人编号：{{receipt.page1[0].p3}}</p>
                        <p>性别：{{receipt.page1[0].p6=='1'?'男':'女'}}</p>
                        <p>人员待遇类别：{{receipt.page1[0].p8}}</p>
                        <p>收据医保类别：{{receipt.page1[0].p10}}</p>
                        <p>医保费用总额：{{receipt.page1[0].p14}}</p>
                        <p>医保内费用：{{receipt.page1[0].p15}}</p>
                        <p>非医保费用：{{receipt.page1[0].p16}}</p>
                        <p>个人现金支付：{{receipt.page1[0].p17}}</p>
                        <p>帐户支付：{{receipt.page1[0].p18}}</p>
                        <p>统筹支付：{{receipt.page1[0].p19}}</p>
                        <p>公补支付：{{receipt.page1[0].p20}}</p>
                        <p>大额支付：{{receipt.page1[0].p21}}</p>
                        <p>结算前个人帐户余额：{{receipt.page1[0].p22}}</p>
                        <p>结算后个人帐户余额：{{receipt.page1[0].p23}}</p>
                        <p>方案执行情况：{{receipt.page1[0].p24}}</p>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary blue" [disabled]="patient==null || !patient.allow" (click)="preRefund()">退费结算</button>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'PreSettled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            黑龙江医保 门诊退费
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <button type="button" class="btn m-btn--pill" (click)="goSetting()" [ngClass]="{'btn-danger': isWarning}">
                        <i class="flaticon-settings-1"></i>配置
                        <label *ngIf="isWarning">申报窗口</label>
                    </button>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input auto-focus class="form-control input-ltr" type="password" [(ngModel)]="password" placeholder="请输入IC卡密码" required maxlength="40">
                        </div>
                        <!-- <button type="submit" class="btn btn-primary blue" (click)="readcard()">读卡</button> -->
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>退费信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!-- <div class="col-md-12">
                            <span>医院收费单总金额: {{hisData.total}}</span>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <span>收据张数: {{preRefundResult?.p2}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>大额补助退费金额: {{preRefundResult?.p3}}</span>
                            </div>
                            <div class="col-md-6">
                                <span>统筹金退费金额: {{preRefundResult?.p4}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>公务员补助退费金额: {{preRefundResult?.p5}}</span>
                            </div>
                            <div class="col-md-6">
                                <span>个人帐户退费金额: {{preRefundResult?.p6}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>个人现金退费金额: {{preRefundResult?.p7}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>结算前账户余额: {{preRefundResult?.p8}}</span>
                            </div>
                            <div class="col-md-6">
                                <span>结算后账户余额: {{preRefundResult?.p9}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary blue" (click)="refund()">确认退费</button>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'Settled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            黑龙江医保 退费完成
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <button type="button" class="btn m-btn--pill" (click)="goSetting()" [ngClass]="{'btn-danger': isWarning}">
                        <i class="flaticon-settings-1"></i>配置
                        <label *ngIf="isWarning">申报窗口</label>
                    </button>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" *ngFor="let receipt of refundReceipts">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>收据</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <p>收据号：{{receipt.page1[0].p13}}</p>
                        <p>就诊日期：{{receipt.page1[0].p12}}</p>
                        <p>医疗类别：{{receipt.page1[0].p1=='11'?'普通门诊':receipt.page1[0].p1}}</p>
                        <p>就诊科室：{{receipt.page1[0].p2}}</p>
                        <p>姓名：{{receipt.page1[0].p5}}</p>
                        <p>个人编号：{{receipt.page1[0].p3}}</p>
                        <p>性别：{{receipt.page1[0].p6=='1'?'男':'女'}}</p>
                        <p>人员待遇类别：{{receipt.page1[0].p8}}</p>
                        <p>收据医保类别：{{receipt.page1[0].p10}}</p>
                        <p>医保费用总额：{{receipt.page1[0].p14}}</p>
                        <p>医保内费用：{{receipt.page1[0].p15}}</p>
                        <p>非医保费用：{{receipt.page1[0].p16}}</p>
                        <p>个人现金支付：{{receipt.page1[0].p17}}</p>
                        <p>帐户支付：{{receipt.page1[0].p18}}</p>
                        <p>统筹支付：{{receipt.page1[0].p19}}</p>
                        <p>公补支付：{{receipt.page1[0].p20}}</p>
                        <p>大额支付：{{receipt.page1[0].p21}}</p>
                        <p>结算前个人帐户余额：{{receipt.page1[0].p22}}</p>
                        <p>结算后个人帐户余额：{{receipt.page1[0].p23}}</p>
                        <p>方案执行情况：{{receipt.page1[0].p24}}</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary blue" (click)="printSettlement()">打印收据</button>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'SettleFailed'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            黑龙江医保 退费失败
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <button type="button" class="btn m-btn--pill" (click)="goSetting()" [ngClass]="{'btn-danger': isWarning}">
                        <i class="flaticon-settings-1"></i>配置
                        <label *ngIf="isWarning">申报窗口</label>
                    </button>
                </div>
            </div>
            <div class="m-portlet__body">
                {{failedMessage}}
            </div>
        </div>
    </div>
</div>