<div>
    <div *ngIf="state == 'Initial'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            深圳医保 门诊挂号
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input auto-focus class="form-control input-ltr" type="password" [(ngModel)]="password" placeholder="请输入医保卡密码" required maxlength="40">
                        </div>
                        <button type="submit" class="btn btn-primary blue" (click)="readcard()">读卡</button>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>姓名: {{patient?.aac003}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>性别: {{config["AAC004"][patient?.aac004]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>户籍: {{config["CAC215"][patient?.cac215]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>出生日期: {{patient?.aac006}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>年龄: {{patient?.bae093}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>受限类别: {{config["BKC346"][patient?.bkc346]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>电脑号: {{patient?.aac999}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>社保卡号: {{patient?.aaz500}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>社保卡状态: {{config["AAZ515"][patient?.aaz515]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>证件类型: {{config["AAC058"][patient?.aac058]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>证件号码: {{patient?.aac147}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>社会保障号码: {{patient?.aac002}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>参保群体: {{config["AAC066"][patient?.aac066]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>参保状态: {{config["AAC008"][patient?.aac008]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人账户余额: {{patient?.aae240}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>参保险种信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>单位编号</th>
                                    <th>单位名称</th>
                                    <th>单位类型</th>
                                    <th>险种类型</th>
                                    <th>开始日期</th>
                                    <th>截止日期</th>
                                    <th>缴费人员类别</th>
                                    <th>缴费状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of patient?.outputlist1">
                                    <td>{{item.aab999}}</td>
                                    <td>{{item.aab004}}</td>
                                    <td>{{config["AAB019"][item.aab019]}}</td>
                                    <td>{{config["AAE140"][item.aae140]}}</td>
                                    <td>{{item.aae030}}</td>
                                    <td>{{item.aae031}}</td>
                                    <td>{{config["BCC334"][item.bcc334]}}</td>
                                    <td>{{config["AAC031"][item.aac031]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>诊断</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="docselect">开单医生：</label>
                                        <select id="docselect" name="docselect" class="form-control" [(ngModel)]="hisData.doctor.id">
                                            <option *ngFor="let provider of providers" value="{{provider.hisObjectId}}">{{provider.channelObjectName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>诊断：</label>
                                        <div class="input-group">
                                            <nz-select [nzMaxMultipleCount]="3" nzMode="multiple" nzPlaceHolder="请选择诊断" [(ngModel)]="selectedDiagnoses">
                                                <nz-option *ngFor="let diagnose of diagnoses" [nzLabel]="diagnose.channelObjectName" [nzValue]="diagnose.channelObjectId"></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger" (click)="fail('放弃医保挂号')">放弃</button>
                <button type="submit" class="btn btn-primary blue" [disabled]="patient==null" (click)="register()">挂号</button>

            </div>
        </div>
    </div>
    <div *ngIf="state == 'Registered' || state == 'PreSettled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            深圳医保 门诊收费
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>姓名: {{patient?.aac003}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>性别: {{config["AAC004"][patient?.aac004]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>户籍: {{config["CAC215"][patient?.cac215]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>出生日期: {{patient?.aac006}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>年龄: {{patient?.bae093}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>受限类别: {{config["BKC346"][patient?.bkc346]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>电脑号: {{patient?.aac999}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>社保卡号: {{patient?.aaz500}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>社保卡状态: {{config["AAZ515"][patient?.aaz515]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>证件类型: {{config["AAC058"][patient?.aac058]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>证件号码: {{patient?.aac147}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>社会保障号码: {{patient?.aac002}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>参保群体: {{config["AAC066"][patient?.aac066]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>参保状态: {{config["AAC008"][patient?.aac008]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人账户余额: {{patient?.aae240}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>费用明细</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class="table table-hover" *ngFor="let form of hisData.chargeItemForms">
                            <thead>
                                <tr>
                                    <th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>单位</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>金额</th>
                                    <th *ngIf="state == 'Registered'">医嘱</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of form.chargeItems">
                                    <td>{{item.insurance?item.chargeItem.channelData.id:'[无医保对应项，不参与医保结算]'}}</td>
                                    <td>{{item.chargeItem.name}}</td>
                                    <td>{{item.chargeItem.unit}}</td>
                                    <td>{{item.chargeItem.price}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.total}}</td>
                                    <td *ngIf="state == 'Registered'"><button type="button" class="btn btn-primary" *ngIf="item.chargeItem.channelData.chargeItemType=='1'" (click)="addAdviceModal.show(item.chargeItem)">
                                        <i class="fa fa-check" *ngIf="item.chargeItem.advice"></i>
                                        <span>填写</span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <span>总费用： {{hisData.total}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" *ngIf="state == 'PreSettled'">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>预结算信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>医疗费总额: {{settleResult?.akc264}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>基金支付金额: {{settleResult?.akb068}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人账户支付金额: {{settleResult?.akb066}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>个人支付金额: {{settleResult?.akb067}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人账户金额: {{settleResult?.aae240}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger" (click)="fail('放弃结算')">放弃</button>
                <button type="submit" class="btn btn-primary blue" *ngIf="state == 'Registered'" (click)="preSettle()">预结算</button>
                <button type="submit" class="btn btn-primary blue" *ngIf="state == 'PreSettled'" (click)="settle()">结算</button>

            </div>
        </div>
    </div>
    <div *ngIf="state == 'Settled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" [ngClass]="{'ybprint': printing}">
                            深圳医保 结算完成
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head" *ngIf="!printing">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>结算信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row" [ngClass]="{'ybprint': printing}">
                            <div class="col-md-4">
                                <span>医疗费总额: {{settleResult?.akc264}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>基金支付金额: {{settleResult?.akb068}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人账户支付金额: {{settleResult?.akb066}}</span>
                            </div>
                        </div>
                        <div class="row" [ngClass]="{'ybprint': printing}">
                            <div class="col-md-4">
                                <span>个人支付金额: {{settleResult?.akb067}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人账户金额: {{settleResult?.aae240}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <button type="submit" class="btn btn-primary blue" *ngIf="!printing" (click)="print()">打印</button> -->

            </div>
        </div>
    </div>

    <div *ngIf="state == 'SettleFailed'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            深圳医保 结算失败
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                {{failedMessage}}
            </div>
        </div>
    </div>
    
    <addAdviceModal #addAdviceModal></addAdviceModal>
</div>