<div [ngSwitch]="state">
    <div *ngSwitchCase="'Initial'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            深圳医保 门诊退费
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>姓名: {{patient?.aac003}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>性别: {{config["AAC004"][patient?.aac004]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>户籍: {{config["CAC215"][patient?.cac215]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>出生日期: {{patient?.aac006}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>年龄: {{patient?.bae093}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>受限类别: {{config["BKC346"][patient?.bkc346]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>电脑号: {{patient?.aac999}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>社保卡号: {{patient?.aaz500}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>社保卡状态: {{config["AAZ515"][patient?.aaz515]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>证件类型: {{config["AAC058"][patient?.aac058]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>证件号码: {{patient?.aac147}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>社会保障号码: {{patient?.aac002}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>参保群体: {{config["AAC066"][patient?.aac066]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>参保状态: {{config["AAC008"][patient?.aac008]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人账户余额: {{patient?.aae240}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>费用明细</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class="table table-hover" *ngFor="let form of hisData.chargeItemForms">
                            <thead>
                                <tr>
                                    <th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>单位</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of form.chargeItems">
                                    <td>{{item.insurance?item.chargeItem.channelData.id:'[无医保对应项，不参与医保结算]'}}</td>
                                    <td>{{item.chargeItem.name}}</td>
                                    <td>{{item.chargeItem.unit}}</td>
                                    <td>{{item.chargeItem.price}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <span>总费用： {{hisData.total}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>结算信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>医疗费总额: {{settleResult?.akc264}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>基金支付金额: {{settleResult?.akb068}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人账户支付金额: {{settleResult?.akb066}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>个人支付金额: {{settleResult?.akb067}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人账户金额: {{settleResult?.aae240}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary blue" *ngIf="state == 'Initial'" (click)="refund()">退费</button>

            </div>
        </div>
    </div>
    <div *ngSwitchCase="'Settled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            深圳医保 退费完成
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                    退费操作成功
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'SettleFailed'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            深圳医保 退费失败
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                {{failedMessage}}
            </div>
        </div>
    </div>
</div>