<div [@routerTransition]>
  <div class="m-subheader">
      <div class="d-flex align-items-center">
          <div class="mr-auto">
              <h3 class="m-subheader__title m-subheader__title--separator">
                  <span>医保</span>
              </h3>
              <span class="m-section__sub">
                  黑龙江医保配置
              </span>
          </div>
          <button type="button" class="btn m-btn--pill btn-primary" *ngIf="canShow" (click)=goBack()><i class="la la-arrow-left"></i>返回</button>
      </div>
  </div>
  <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__body">
            <tabset class="tab-container tabbable-line m-tabs-line--primary">
              <tab heading="费用申报" customClass="m-tabs__item">
                <button [disabled]="saving" type="button" class="btn btn-primary" (click)="showDeclaration(0)">申报上月医疗费用（月初1 - 4日）</button>
                <button [disabled]="saving" type="button" class="btn btn-primary" (click)="showDeclaration(1)">补报医疗费用（每年1月）</button>
              </tab>
              <tab heading="定点机构参数配置" customClass="m-tabs__item" (select)="getClinicConfigragtion()">
                    <div class="row">                
                            <div *ngFor="let item of reports" class="col-md-6">
                                {{item.name}}: {{item.value}}
                            </div>
                    </div>
              </tab>
              <tab heading="经办机构信息" customClass="m-tabs__item" (select)="getAgencyConfiguration()">
                    <div class="row">                
                            <div *ngFor="let item of reports" class="col-md-6">
                                {{item.name}}: {{item.value}}
                            </div>
                    </div>
                </tab>
          </tabset>
          </div>
      </div>
   </div>

   <declarationModal #declarationModal></declarationModal>

  </div>