.ybprint {
    color: black !important;
    font-size: 20px !important;
}
.ybhead {
    color: black !important;
    font-size: 24px !important;
    display: block !important;
    text-align: center !important;
}
.ybborder {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}
.noyibao {
    color: red !important;
}