<div [ngSwitch]="state">
    <div *ngSwitchCase="'Initial'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            杭州医保 门诊退费
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>姓名: {{patient?.p5}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>性别: {{config.xb[patient?.p6]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>出生日期: {{patient?.p8}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>个人编号: {{patient?.p1}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>身份证号: {{patient?.p4}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>单位名称: {{patient?.p3}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>医保卡号: {{patient?.p9}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>医疗待遇: {{config.yldy[patient?.p10]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>医疗证号: {{patient?.p11}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>人员类别: {{config.rylb[patient?.p34]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>当年帐户余额: {{patient?.p15}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>当年账户已用: {{patient?.p23}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>门诊起付标准累计: {{patient?.p25}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>历年账户余额: {{patient?.p16}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>历年账户已用: {{patient?.p24}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>费用明细</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class="table table-hover" *ngFor="let form of hisData.chargeItemForms">
                            <thead>
                                <tr>
                                    <th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>单位</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of form.chargeItems">
                                    <td>{{item.insurance?item.chargeItem.channelData.id:'[无医保对应项，不参与医保结算]'}}</td>
                                    <td>{{item.chargeItem.name}}</td>
                                    <td>{{item.chargeItem.unit}}</td>
                                    <td>{{item.chargeItem.price}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <span>总费用： {{hisData.total}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary blue" *ngIf="state == 'Initial'" (click)="refund()">退费</button>

            </div>
        </div>
    </div>
    <div *ngSwitchCase="'Settled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" [ngClass]="{'ybprint': printing}">
                            杭州医保 退费完成
                        </h3>
                    </div>
                </div>
            </div>
                
            <div class="m-portlet__body">
                
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head" *ngIf="!printing">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>结算信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row ybhead" *ngIf="printing">
                        <span>普通门诊退费明细</span>
                    </div>
                    <div class="m-portlet__body" *ngIf="printing">
                        <div class="row ybprint ybborder">
                            <table class="table table-hover">
                                <tbody>
                                    <tr *ngFor="let item of uploadData; let i = index">
                                        <td>{{config.sfxmdj[uploadResult.datas[i]?.p8]}}</td>
                                        <td>{{item.p8}}</td>
                                        <td>{{item.p11}}</td>
                                        <td>{{item.p12.toFixed(2)}}</td>
                                        <td>{{uploadResult.datas[i]?.p10*100}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" style="height: 80px;"></div>
                    </div>
                    <div class="row ybhead" *ngIf="printing">
                        <span>普通门诊分类支付表</span>
                    </div>
                    <div class="m-portlet__body" [ngClass]="{'ybprint ybborder': printing}">
                        <div class="row">
                            <div class="col-md-3">
                                <span>现金支付  {{settleResult?.p13}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>（自费： {{settleResult?.p38}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>  自理： {{settleResult?.p37}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>  自付： {{settleResult?.p14}}）</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span>个人账户</span>
                            </div>
                            <div class="col-md-3">
                                <span>当年支付  {{settleResult?.p9}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>当年余额  {{settleResult?.p18}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <span>历年支付  {{settleResult?.p10}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>历年余额  {{settleResult?.p19}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span>医保账户</span>
                            </div>
                            <div class="col-md-3">
                                <span>统筹基金支付  {{settleResult?.p34}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>本次起付标准  {{settleResult?.p35}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>起付标准累计  {{settleResult?.p24}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span></span>
                            </div>
                            <div class="col-md-3">
                                <span>自费  {{settleResult?.p16}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>（其中历年账户  {{settleResult?.p40}}）</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span></span>
                            </div>
                            <div class="col-md-3">
                                <span>自理  {{settleResult?.p15}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>（其中历年账户  {{settleResult?.p39}}）</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span></span>
                            </div>
                            <div class="col-md-3">
                                <span>自付  {{settleResult?.p41}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>（其中历年账户  {{settleResult?.p11}}）</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span>合计￥：{{settleResult?.p8}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary blue" *ngIf="!printing" (click)="print()">打印</button>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'SettleFailed'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            杭州医保 退费失败
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                {{failedMessage}}
            </div>
        </div>
    </div>
</div>