<div bsModal #jingdezhenImportModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>导入收费项</span>
                </h4>
                <button type="button" class="close" (click)="close()" attr.aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="chargeItemid" class="control-label">收费项目种类</label>
                            <select id="chargeItemid" class="form-control" tabindex="-98" [(ngModel)]="selectedCode" (ngModelChange)="chargeItemTypeselectChange()">
                                <option *ngFor="let item of chargeItemTypeLookup" [value]="item.code">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label for="lastdate" class="control-label">最后更新日期</label>
                        </div>
                        <div class="row">
                            <p-calendar id="lastdate" [(ngModel)]="lastImportTime" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true" readonlyInput="true" dateFormat="yy-mm-dd" [inputStyle]="{'width':'300px','height':'37.69px'}"
                                [locale]="ch"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="importing">
                    <div class="col-md-12">
                        <p-progressBar [value]="value"></p-progressBar>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" (click)="import()"  [disabled]="importing">开始导入</button>
                <button type="button" class="btn btn-danger" (click)="close()">关闭</button>
            </div>
        </div>
    </div>
</div>