<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>商保</span>
                </h3>
                <span class="m-section__sub">
                    泰康齿科保险配置
                </span>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form #settingForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="form-group">
                        <label>合作编码 *</label>
                        <input #hospitalCodeInput="ngModel" class="form-control" type="text" name="hospitalCode"
                            [(ngModel)]="hospitalCode" required maxlength="64">
                        <validation-messages [formCtrl]="hospitalCodeInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>集团名称 *</label>
                        <input #brandNameInput="ngModel" class="form-control" type="text" name="brandName"
                            [(ngModel)]="brandName" required maxlength="64">
                        <validation-messages [formCtrl]="brandNameInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>门店名称 *</label>
                        <input #storeNameInput="ngModel" class="form-control" type="text" name="storeName"
                            [(ngModel)]="storeName" required maxlength="64">
                        <validation-messages [formCtrl]="storeNameInput"></validation-messages>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!settingForm.form.valid" [buttonBusy]="saving"
                        [busyText]="savingtext"><i class="fa fa-save"></i> <span>保存</span></button>
                </form>
            </div>
        </div>
    </div>
</div>