<div>
    <div *ngIf="state == 'Initial'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            景德镇医保 门诊挂号
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input auto-focus class="form-control input-ltr" type="text" [(ngModel)]="identityCode" placeholder="请插入医保卡或输入身份证号,然后点击'读卡'按钮" maxlength="40">
                        </div>
                        <button type="submit" class="btn btn-primary blue" (click)="readcard()">读卡</button>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>个人编号: {{patient?.p1}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>身份证号: {{patient?.p3}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>姓名: {{patient?.p4}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>性别: {{config.sex[patient?.p5]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>年龄: {{patient?.p27}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>出生日期: {{patient?.p7}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>社保卡号: {{patient?.p8}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>医疗待遇: {{config.category[patient?.p9]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>参保状态: {{config.insurance[patient?.p10]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>异地人员: {{patient==null?"":patient?.p11=='1'?"是":"否"}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>帐户余额: {{patient?.p15}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>本年医疗费累计: {{patient?.p16}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>统筹区号: {{config.areacode[patient?.p12] ? config.areacode[patient?.p12] + patient?.p12 : patient?.p12}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger" (click)="fail('放弃医保挂号')">放弃</button>
                <button type="submit" class="btn btn-primary blue" [disabled]="patient==null || !patient.allow" (click)="register()">挂号</button>

            </div>
        </div>
    </div>
    <div *ngIf="state == 'Registered' || state == 'Uploaded' || state == 'PreSettled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            景德镇医保 门诊收费
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>个人编号: {{patient?.p1}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>身份证号: {{patient?.p3}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>姓名: {{patient?.p4}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>性别: {{config.sex[patient?.p5]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>年龄: {{patient?.p27}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>出生日期: {{patient?.p7}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>社保卡号: {{patient?.p8}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>医疗待遇: {{config.category[patient?.p9]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>参保状态: {{config.insurance[patient?.p10]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>异地人员: {{patient==null?"":patient?.p11=='1'?"是":"否"}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>帐户余额: {{patient?.p15}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>本年医疗费累计: {{patient?.p16}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>统筹区号: {{config.areacode[patient?.p12] ? config.areacode[patient?.p12] + patient?.p12 : patient?.p12}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>费用明细</span>
                                </h3>
                            </div> 
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class="table table-hover" *ngFor="let form of hisData.chargeItemForms">
                            <thead>
                                <tr>
                                    <th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>单位</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of form.chargeItems">
                                    <td>{{item.insurance?item.chargeItem.channelData.id:'[无医保对应项，不参与医保结算]'}}</td>
                                    <td>{{item.chargeItem.name}}</td>
                                    <td>{{item.chargeItem.unit}}</td>
                                    <td>{{item.chargeItem.price}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <span>总费用： {{hisData.total}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>诊断</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>挂号科室：</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="科室" [(ngModel)]="hisData.department.name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="docselect">开单医生：</label>
                                        <select id="docselect" name="docselect" class="form-control" [(ngModel)]="hisData.doctor.id">
                                            <option *ngFor="let provider of providers" value="{{provider.hisObjectId}}">{{provider.channelObjectName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>诊断：</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="诊断信息" [(ngModel)]="hisData.diagnose.name" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" *ngIf="state == 'PreSettled'">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>结算信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>总金额: {{settleResult?.p1}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>总报销金额: {{settleResult?.p2}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>统筹基金支付: {{settleResult?.p3}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>账户支付: {{settleResult?.p5}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>现金支付: {{settleResult?.p6}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>本次结算前帐户余额: {{settleResult?.p26}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger" (click)="fail('放弃结算')">放弃</button>
                <button type="submit" class="btn btn-primary blue" *ngIf="state == 'Registered' || state == 'Uploaded'" (click)="preSettle()">预结算</button>
                <button type="submit" class="btn btn-primary blue" *ngIf="state == 'PreSettled'" (click)="settle()">结算</button>

            </div>
        </div>
    </div>
    <div *ngIf="state == 'Settled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" [ngClass]="{'ybprint': printing}">
                            景德镇医保 结算完成
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head" *ngIf="!printing">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>结算信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" [ngClass]="{'ybprint': printing}">
                        <div class="row">
                            <div class="col-md-4">
                                <span>总金额: {{settleResult?.p1}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>总报销金额: {{settleResult?.p2}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>统筹基金支付: {{settleResult?.p3}}</span>
                            </div>
                        </div>
                        <div class="row" [ngClass]="{'ybprint': printing}">
                            <div class="col-md-4">
                                <span>账户支付: {{settleResult?.p5}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>现金支付: {{settleResult?.p6}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>本次结算前帐户余额: {{settleResult?.p26}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary blue" *ngIf="!printing" (click)="print()">打印</button>

            </div>
        </div>
    </div>

    <div *ngIf="state == 'SettleFailed'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            景德镇医保 结算失败
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                {{failedMessage}}
            </div>
        </div>
    </div>
</div>