<div [ngSwitch]="state">
    <div *ngSwitchCase="'Initial'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            台州医保 门诊退费
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>姓名: {{patient?.p6?.p3}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>性别: {{config.xb[patient?.p6?.p4]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>出生日期: {{patient?.p6?.p6}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>身份证号码: {{patient?.p6?.p7}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>卡号: {{patient?.p6?.p1}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人编号: {{patient?.p6?.p2}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>待遇类别: {{config.dylb[patient?.p6?.p12]}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>参保地区: {{patient?.p6?.p11}} {{patient?.p6?.p10}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>历年账户余额: {{patient?.p6?.p19}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>当年住院累计: {{patient?.p6?.p20}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>当年门诊累计: {{patient?.p6?.p21}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>当年账户余额: {{patient?.p6?.p18}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>费用明细</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class="table table-hover" *ngFor="let form of hisData.chargeItemForms">
                            <thead>
                                <tr>
                                    <th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>单位</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of form.chargeItems">
                                    <td>{{item.insurance?item.chargeItem.channelData.id:'[无医保对应项，不参与医保结算]'}}</td>
                                    <td>{{item.chargeItem.name}}</td>
                                    <td>{{item.chargeItem.unit}}</td>
                                    <td>{{item.chargeItem.price}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <span>总费用： {{hisData.total}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>结算信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>总金额: {{settleResult?.calculateResultInfo?.p1}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>自理费用: {{settleResult?.calculateResultInfo?.p3}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>自费费用: {{settleResult?.calculateResultInfo?.p2}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>现金金额: {{settleResult?.calculateResultInfo?.p9}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>本年帐户: {{settleResult?.calculateResultInfo?.p12}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>历年帐户: {{settleResult?.calculateResultInfo?.p11}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>公务员补助: {{settleResult?.calculateResultInfo?.p15}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>统筹基金支付: {{settleResult?.calculateResultInfo?.p13}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>离休基金: {{settleResult?.calculateResultInfo?.p16}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>自负金额: {{settleResult?.calculateResultInfo?.p20}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>卡内余额: {{settleResult?.calculateResultInfo?.p23}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>大病基金支付: {{settleResult?.calculateResultInfo?.p14}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>民政补助: {{settleResult?.calculateResultInfo?.p28}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>优抚救助: {{settleResult?.calculateResultInfo?.p29}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary blue" *ngIf="state == 'Initial'" (click)="refund()">退费</button>

            </div>
        </div>
    </div>
    <div *ngSwitchCase="'Settled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            台州医保 退费完成
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                退费操作成功
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'SettleFailed'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            台州医保 退费失败
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                {{failedMessage}}
            </div>
        </div>
    </div>
</div>