<div [ngSwitch]="state">
    <div *ngSwitchCase="'Initial'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            福州医保 门诊挂号
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <button type="button" class="btn" (click)="readCard()">读卡</button>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">

                            <div class="col-md-4">
                                <span style="font-family:initial">卡号： {{patient?.cardno}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>医疗保险号： {{patient?.id0000}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>账户余额： {{patient?.grzhye}}</span>
                            </div>
                            
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <span>姓名： {{patient?.xming0}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>性别： {{patient?.xbie00=="0"?"男":patient?.xbie00=="1"?"女":"未知"}}</span>
                            </div>

                            <div class="col-md-4">
                                <span>年龄： {{patient?.brnl00}}</span>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <span>是否可以挂号： {{patient?.valid0?"可以":patient?.valid0.toString()=="false"?"不可以":""}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>不能挂号的原因： {{patient?.bnghyy}}</span>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" (click)="fail('放弃医保挂号')">放弃</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="patient==null || !patient?.valid0" (click)="register()">挂号</button>

                </div>
            </div>
        </div>
    </div>
    <div *ngIf="state == 'Registered' || state == 'PreSettled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            福州医保 门诊收费
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>个人信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>卡号： {{patient?.cardno}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>医疗保险号： {{patient?.id0000}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>是否可以挂号： {{patient?.valid0?"可以":patient?.valid0.toString()=="false"?"不可以":""}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>不能挂号的原因： {{patient?.bnghyy}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>姓名： {{patient?.xming0}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>性别： {{patient?.xbie00=="0"?"男":patient?.xbie00=="1"?"女":"未知"}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>年龄： {{patient?.brnl00}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>费用明细</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class="table table-hover" *ngFor="let form of hisData.chargeItemForms">
                            <thead>
                                <tr>
                                    <th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>单位</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of form.chargeItems">
                                    <td>{{item.insurance?item.chargeItem.channelData.id:'[无医保对应项，不参与医保结算]'}}</td>
                                    <td>{{item.chargeItem.name}}</td>
                                    <td>{{item.chargeItem.unit}}</td>
                                    <td>{{item.chargeItem.price}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <span>总费用： {{hisData.total}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>诊断</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>挂号科室：</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="科室" required [(ngModel)]="hisData.department.name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="docselect">开单医生：</label>
                                        <select id="docselect" name="docselect" class="form-control" required [(ngModel)]="hisData.doctor.id">
                                            <option *ngFor="let provider of providers" value="{{provider.hisObjectId}}">{{provider.channelObjectName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>诊断：</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" disabled="disabled" placeholder="诊断信息" required [(ngModel)]="hisData.diagnose.name" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" *ngIf="isPresettle">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>预结算信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>总金额： {{settleResult?.bcbxf0}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>帐户支付额： {{settleResult?.zhzfe0}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人现金支付额： {{settleResult?.grzfe0}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人帐户余额： {{settleResult?.grzhye}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                <button type="submit" class="btn btn-danger" (click)="fail('放弃结算')">放弃</button>
                <!--<button type="submit" class="btn btn-primary blue" *ngIf="state == 'Registered'" (click)="preSettle()">预结算</button>-->
                <button type="submit" class="btn btn-primary blue" *ngIf="state == 'Registered'" (click)="settle()">结算</button>
                <button type="submit" class="btn btn-primary blue" *ngIf="state == 'Settled'" (click)="print()">打印</button>
                    </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'Settled'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            福州医保 结算完成
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-portlet m-portlet--tabs m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" *ngIf="state == 'Settled'">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span>结算信息</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-4">
                                <span>总金额： {{settleResult?.bcbxf0}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>帐户支付额： {{settleResult?.zhzfe0}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人现金支付额： {{settleResult?.grzfe0}}</span>
                            </div>
                            <div class="col-md-4">
                                <span>个人帐户余额： {{settleResult?.grzhye}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<button type="submit" class="btn btn-primary blue" (click)="print()">打印</button>-->

            </div>
        </div>
    </div>

    <div *ngSwitchCase="'SettleFailed'">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            福州医保 结算失败
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                {{failedMessage}}
            </div>
        </div>
    </div>
</div>
